#our-process {
  background-image: '';
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-size: 0;
  }

  .our-process-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    @media (min-width: 768px) {
      overflow: visible;
    }

    .our-process-item {
      overflow: visible;
      cursor: pointer;
      outline: none;
      outline-color: var(--gda-brand-yellow);
      outline-offset: 4px;
      border-radius: 4px;

      span {
        transition: all 0.3s;
      }

      &:focus-visible {
        outline: 2px solid var(--gda-brand-yellow);
        outline-offset: 4px;
        border-radius: 4px;
      }

      &:hover {
        background: transparent;
        span {
          font-size: 56px !important;
        }

        h3 {
          font-weight: 700;
          color: var(--gda-brand-black);
        }

        svg {
          color: var(--gda-brand-yellow);
          stroke-width: 5px;
        }
      }

      span {
        @media (max-width: 767px) {
          font-size: 56px;
        }
      }

      h3 {
        font-family: var(--roboto);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        color: var(--gda-brand-earth);
        transition: 0.3s all;

        @media (max-width: 767px) {
          max-width: 70%;
          font-size: 32px;
          font-weight: 600;
          letter-spacing: 0.01em;
        }
      }

      .description-wrapper {
        overflow: visible;
        position: relative;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid var(--gda-brand-earth);

        @media (max-width: 767px) {
          padding-top: 0;
          margin-top: 20px;
          border-top: 0;
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: var(--gda-brand-yellow);
          filter: blur(50px);
          z-index: 1;

          @media (max-width: 767px) {
            background: transparent;
            filter: none;
          }
        }

        p {
          position: relative;
          letter-spacing: 0.01em;
          z-index: 2;

          @media (max-width: 767px) {
            color: var(--gda-brand-neutral);
          }
        }
      }

      &.active {
        outline: none;
        h3 {
          font-weight: 700;
          color: var(--gda-brand-black);
        }
      }
    }
  }

  .pagination-bullet-wrapper {
    .pagination-bullet {
      width: 12px;
      height: 12px;
      outline: none;
      border: none;
      padding: 0;

      &:focus {
        outline: 2px solid var(--gda-brand-yellow);
        outline-offset: 2px;
        border-radius: 50%;
      }
    }
  }
}
