#our-process {
  background-image: url('../../../public/bg-our-process.webp');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  .our-process-wrapper {
    overflow: visible;

    .our-process-item {
      overflow: visible;
      cursor: pointer;

      &:hover {
        background: transparent;
        h3 {
          font-weight: 700;
          color: var(--gda-brand-black);
        }
      }

      h3 {
        font-family: var(--font-roboto);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        color: #78716c;
        transition: 0.3s all;
      }

      .description-wrapper {
        overflow: visible;
        position: relative;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #78716c;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: var(--gda-brand-yellow);
          filter: blur(50px);
          z-index: 1;
        }

        p {
          position: relative;
          letter-spacing: 0.01em;
          z-index: 2;
        }
      }

      &.active {
        h3 {
          font-weight: 700;
          color: var(--gda-brand-black);
        }

        .description-wrapper {
        }
      }
    }
  }
}
